p {
    font-size: large;
}

h1 {
    font-style: italic;
    color: blueviolet;
}

h2 {
    font-style: italic;
    color: blue;
}

div {
    color: aliceblue;
    background-color: black;
}

.italic-text{
    font-style: italic;
}

#large-text{
    font-size: large;
}

.small-text{
    font-size: small;
}

.text-color{
    color: crimson;
}

.button-background{
    background-color: darkseagreen;
}

.border{
    border-style: dotted;
}